---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import site from '../data/site.json';

const { title, robots, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={Astro.url.pathname == "/" ? site.description : `The atom page for ${title}`} />
		<meta name="robots" content={robots ? robots : "index, follow"} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta property="og:image" content={ogImage ? ogImage : "/images/coffee-beans.png"}>
		<link rel="canonical" href={Astro.url} />
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="preload" as="font" href="/fonts/Aileron-Regular.woff2" type="font/woff2" crossorigin="">
		{ogImage ? <link rel="preload" as="image" type=`image/${ogImage.split(".").pop()}` href={ogImage}> : ""}
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>a#burger {text-decoration:none;} a#burger:hover{opacity:0.7;}</style>
	</head>
	<Header />
	<div class="container">
		<body>
			<slot />
		</body>
	</div>
	<hr>
	<Footer />
</html>
